<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
	<title>Java Store</title>	
	<script>
			var ids = [];
			
			function addProduct(id) {
				ids.push(id);
				alert("Product added!");
				document.getElementById('ids').value = ids;
			}
			
			function removeProduct(id) {			
    			var pos = ids.indexOf(id);
				ids.splice(pos, 1);
				alert("Product removed!"); 
				document.getElementById('ids').value = ids;
			}	
	</script>
</head>
<body class="text-center">

	<nav class="navbar navbar-expand-lg navbar-light bg-light" style="padding: 10px;">
  		<a class="navbar-brand" th:href="@{/}">Game Store</a>
  		<div class="collapse navbar-collapse d-flex justify-content-between">
    		<ul class="navbar-nav mr-auto">
      			<li class="nav-item">
        			<a class="nav-link" th:href="@{/}">Home</a>
      			</li>
      			<li>
      				<a class="nav-link" th:href="@{/login?logout}">Logout</a>
      			</li>
    		</ul>
    		<!-- <div class="dropdown mr-5 ps-5">
			  	<button class="btn btn-secondary dropdown-toggle pe-5 ps-5" type="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Order by</button>
			  	<div class="dropdown-menu dropdown-menu-right text-center" aria-labelledby="dropdownMenuButton" style="padding-left: -200px;">
			    	<a class="dropdown-item" th:href="@{/products/order-by-price}">Price</a>
			    	<a class="dropdown-item" th:href="@{/products/order-by-score}">Score</a>
			    	<a class="dropdown-item" th:href="@{/products/order-by-name}">Name</a>
			  	</div>
			</div>	-->
  		</div>
	</nav>
	<br>
	<div class="align-items-center">
		<h1 class="display-5">Games</h1>
	</div>
	<br>
	<p th:if="${error}" th:text="${error}" class="alert alert-danger" style="width: 500px; margin-left: auto; margin-right: auto;"></p>
	<br>
	<form th:action="@{/orders/new-order}" th:method="post">
		<div class="container" th:each="product : ${products}">	  	
	  		<div class="card" style="width: 500px; margin: auto;">
				<div class="card-header">
					<p th:text="${product.name}" style="font-size: 30px;"></p>		
				</div>
				<div class="card-body" style="margin-top: 10px;">
		 			<p class="card-title" >R$ <span th:text="${product.price}" style="font-size: 25px;"></span></p>
		 			<p class="card-text" >Score: <span th:text="${product.score}"></span></p>
		 			<button type="button" class="btn btn-primary" th:onclick="'javascript:addProduct(' + ${product.id} + ');'">Add to cart</button>
		 			<button type="button" class="btn btn-danger" th:onclick="'javascript:removeProduct(' + ${product.id} + ');'">Remove</button>			
				</div>		
		  	</div>
			<br>
			<br>
  		</div>
  		<input type="hidden" id="ids" name="ids" value=""/>
  		<button type="submit" class="btn btn-success ps-5 pe-5">Checkout</button>
	</form>
	<br>
	<br>
	<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
	<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
	<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>